apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      containers:
      - name: fastapi
        image: fastapiacr1052.azurecr.io/fastapi-utm:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
