name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image (ARM64)
        run: |
          docker buildx build \
            --platform linux/arm64 \
            -t pblencho/fastapi-utm:latest \
            --load \
            .

      - name: Push to Docker Hub
        run: |
          docker push pblencho/fastapi-utm:latest
